<div class="row" style="margin-bottom: 2em;">
	<div class="col-xs-12">
		<a href="" class="btn btn-success" [routerLink]="['new']">New Recipe</a>
	</div>
</div>
<div class="row">
	<div class="col-xs-12">
		<ul class="list-group">
			<app-recipe-item *ngFor="let recipe of recipes; let i = index" [recipe]="recipe" [recipeId]="i"></app-recipe-item>
			<!-- Before child route: get the list from recipe-list.ts >
			<app-recipe-item *ngFor="let recipe of recipes" [recipe]="recipe" (click)="onSelected(recipe)"></app-recipe-item> -->
		</ul>
	</div>
</div>